.blocklyToolboxCategory:nth-child(1) .blocklyTreeIcon {
    background-image: url("icons/color.png")
}

.blocklyToolboxCategory:nth-child(2) .blocklyTreeIcon {
    background-image: url("icons/logic.png")
}

.blocklyToolboxCategory:nth-child(3) .blocklyTreeIcon {
    background-image: url("icons/loops.png")
}

.blocklyToolboxCategory:nth-child(4) .blocklyTreeIcon {
    background-image: url("icons/math.png")
}

.blocklyToolboxCategory:nth-child(5) .blocklyTreeIcon {
    background-image: url("icons/variables.png")
}

.blocklyToolboxCategory:nth-child(6) .blocklyTreeIcon {
    background-image: url("icons/functions.png")
}

.blocklyToolboxCategory:nth-child(7) .blocklyTreeIcon {
    background-image: url("icons/custom.png")
}