.fill-height {
  height: calc(100vh - 350px);
  margin: 20px;
  margin-top: 0px;
}

.blocklyTreeLabel {
  font-family: "Fredoka", sans-serif;
}

.blocklyTreeRow {
  padding-bottom: 26px;
  border-radius: 6px;
}

.blocklyTreeIcon {
  background-size: contain;
  visibility: visible;
  margin-left: 2px;
  margin-right: 2px;
}

.blocklyTreeIcon {
  background-image: none;
  margin-left: 4px;
}

.blocklyToolboxCategory {
  margin: 2px;
}

.blocklyToolboxDiv {
  z-index: 2;
}

.blocklyFlyout {
  transition: transform ease-in-out 0.5s, visibility ease-in-out 0.5s;
  z-index: 1;
}

.blocklyFlyout[style*="display: none"] {
  transform: translate(-275px) !important;
  display: block !important;
  visibility: hidden;
}

.blocklyFlyout[style*="display: block"] {
  /* transform: translate(200px) !important; */
}


.save-btn {
  z-index: 1;
}

.unsaved-message {
  margin-bottom: .5rem !important;
}

.unsaved-message .message-body {
  padding: 0.75em 0.75em !important;
}

#filter-dropdown-menu {
  max-width: 100%;
  width: 100%;
}

.filter-item {
  margin-bottom: 0 !important;
}

.preview-column {
  width: 500px !important;
  flex-shrink: 0;
}

.blockly-column {
  position: relative;
}

.filter-navigator {
  position: absolute;
  z-index: 1;
  left: 151px;
  bottom: 31px;
}

.filter-dropdown-content {
  max-height: 20em;
  overflow: auto;
}

.dropdown-separator {
  font-style: italic;
  text-decoration: underline;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.create {
  overflow: hidden;
}

.thumbnail {
  width: 48px !important;
  height: 48px !important;
  object-fit: cover;
  margin-right: 6px;
}

.block {
  margin: 20px !important;
  margin-top: 5px !important;
}

.filter-container {
  max-width: 800px !important;
}

.reset-btn {
  width: 100px;
  display: block;
}

.run-btn {
  width: 140px;
  display: block;
}

.canvas-cntr {
  position: relative;
  height: 300px;
}

.canvas-ctr canvas, .canvas-overlay {
  position: absolute;
  width: 500px;
  height: 300px;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(0.5, 0.5, 0.5, 0.3);
}

.loading-icon {
  font-size: 4em;
  color: #ccc;
}

.overlay-hidden {
  visibility:hidden;
}
/* 
.filters-column {
  height: 700px;
  overflow-y: scroll;
} */

.harness-fixed {
  width: 500px;
  position: fixed;
}

.lessons-msg-block {
  max-height: 234px;
  min-height: 234px;
}

.lessons-msg {
  max-height: 234px;
  min-height: 234px;
  overflow-y: scroll;
}

.lessons-msg-body {
  padding: 1em 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}