.fill-height {
  height: calc(100vh - 114px);
}

.blocklyTreeLabel {
  font-family: "Fredoka", sans-serif;
}

.blocklyTreeRow {
  padding-bottom: 4px;
  border-radius: 6px;
}

.blocklyTreeIcon {
  background-size: contain;
  visibility: visible;
  margin-left: 2px;
  margin-right: 2px;
}

.blocklyTreeIcon {
  background-image: none;
  margin-left: 4px;
}

.blocklyToolboxCategory {
  margin: 2px;
}

.blocklyFlyout {
  transition: transform ease-in-out 0.5s, visibility ease-in-out 0.5s;
}

.blocklyFlyout[style*="display: none"] {
  transform: translate(-275px) !important;
  display: block !important;
  visibility: hidden;
}

.blocklyFlyout[style*="display: block"] {
  /* transform: translate(200px) !important; */
}